html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.react-datepicker-wrapper {
  width: 100%;
  & input {
    width: 100%;
  }
}

.Dropdown-control {
  padding: 2px;

  .Dropdown-arrow {
    top: 9px
  }
}

button {
  border: none;
  padding: 5px 25px;
  border-radius: 5px;
  cursor: pointer;
  color: white;

  &:focus {
    outline: none;
  }
}

input {

}
